CompileFlags:
  Add:
    - -std=c++20
    - --cuda-path=C://Users//18223//scoop//apps//cuda//current
  Remove:
    - '-forward-unknown-to-host-compiler'
    - '--generate-code=arch=*'
    - '-Xcompiler=*'
    - '--extended-lambda'
    - '--expt-relaxed-constexpr'
    - '-rdc=true'
