If:
  PathMatch: .*\.cu[h]?

CompileFlags:
  Add:
    - -xcuda
    - --no-cuda-version-check
    - --cuda-path=C://Users//18223//scoop//apps//cuda//current
    - -std=c++20
  Remove:
    - -arch=*
    - -rdc=*
    - -Xcompiler=*
    - -forward-unknown-to-host-compiler
    - --expt-*
    - --generate-code=*
    - --extended-lambda
    - --expt-relaxed-constexpr
